#block-login.block

  %h2.title Iniciar Sesion

  .content{:class=>'login'}
    .flash
      - flash.each do |type, message|
        .message{:class=>'error'}
          %p= message

    - form_for resource_name, resource, :url => session_path(resource_name), :html=>{:class=>'form login'} do |f|
      .group{:class => 'wat-cf'}
        .left=  f.label :email, nil, :class=>'label right'
        .right= f.text_field :email, :class=>'text_field'

      .group{:class => 'wat-cf'}
        .left=  f.label :password, nil, :class=>'label right'
        .right= f.password_field :password, :class=>'text_field'

      - if devise_mapping.rememberable?
        .group{:class => 'wat-cf'}
          .left=  f.label :remember_me, 'Recordarme', :class=>'label right'
          .right= f.check_box :remember_me, :class=>'check_box'

      .group{:class => 'navform wat-cf'}
        .right
          %button.button{:type=>'submit'}
            = image_tag('web-app-theme/key.png')
            Iniciar Sesion

