.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", admin_clasifications_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_clasification_path
  .content
    %h2.title #{ t("web-app-theme.all", :default => "All") } Clasifications
    .inner
      %table.table
        %tr
          %th.first ID
          %th= t("activerecord.attributes.admin_clasification.team_id", :default => t("activerecord.labels.team_id", :default => "Team_id"))
          %th= t("web-app-theme.created_at", :default => "Created at")
          %th.last &nbsp;
        - @clasifications.each do |clasification|
          %tr{:class => cycle("odd", "even")}
            %td= clasification.id
            %td= link_to clasification.team_id, admin_clasification_path(clasification)
            %td= clasification.created_at
            %td.last
              = link_to t("web-app-theme.show", :default => "Show"), admin_clasification_path(clasification)
              |
              = link_to t("web-app-theme.edit", :default => "Edit"), edit_admin_clasification_path(clasification)
              |
              = link_to t("web-app-theme.delete", :default => "Delete"), admin_clasification_path(clasification), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
      .actions-bar.wat-cf
        .actions
        
- content_for :sidebar, render(:partial => 'sidebar')