.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", admin_groups_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_group_path
  .content
    %h2.title #{ t("web-app-theme.all", :default => "All") } Groups
    .inner
      %table.table
        %tr
          %th.first ID
          %th= t("activerecord.attributes.admin_group.stage_id", :default => t("activerecord.labels.stage_id", :default => "Stage_id"))
          %th= t("web-app-theme.created_at", :default => "Created at")
          %th.last &nbsp;
        - @groups.each do |group|
          %tr{:class => cycle("odd", "even")}
            %td= group.id
            %td= link_to group.stage_id, admin_group_path(group)
            %td= group.created_at
            %td.last
              = link_to t("web-app-theme.show", :default => "Show"), admin_group_path(group)
              |
              = link_to t("web-app-theme.edit", :default => "Edit"), edit_admin_group_path(group)
              |
              = link_to t("web-app-theme.delete", :default => "Delete"), admin_group_path(group), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
      .actions-bar.wat-cf
        .actions
        
- content_for :sidebar, render(:partial => 'sidebar')