.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to t("web-app-theme.list", :default => "List"), admin_teams_path
      %li= link_to t("web-app-theme.new", :default => "New"), new_admin_team_path
      %li.active= link_to t("web-app-theme.show", :default => "Show"), admin_team_path
  .content
    .inner
      %p
        <b>#{ t("activerecord.attributes.admin_team.name", :default => t("activerecord.labels.name", :default => "Name")) }:</b>
        = @team.name
      %p
        <b>#{ t("activerecord.attributes.admin_team.shortening", :default => t("activerecord.labels.shortening", :default => "Shortening")) }:</b>
        = @team.shortening
      %p
        <b>#{ t("activerecord.attributes.admin_team.is_selection", :default => t("activerecord.labels.is_selection", :default => "Is selection")) }:</b>
        = @team.is_selection
      %p
        <b>#{ t("activerecord.attributes.admin_team.competition_id", :default => t("activerecord.labels.competition_id", :default => "Competition")) }:</b>
        = @team.competition_id
      .wat-cf
        #{ link_to "#{image_tag("web-app-theme/application_edit.png", :alt => t("web-app-theme.edit", :default=> "Edit"))} #{t("web-app-theme.edit", :default=> "Edit")}", edit_admin_team_path(@team), :class => "button" } 
        #{ link_to "#{image_tag("web-app-theme/cross.png", :alt => t("web-app-theme.delete", :default=> "Delete"))} #{t("web-app-theme.delete", :default => "Delete")}", admin_team_path(@team), :method => "delete", :class => "button", :confirm => t("web-app-theme.confirm", :default => "Are you sure?") }

- content_for :sidebar, render(:partial => 'sidebar')